@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

/*
    Filename: home_style.css
    Author: Gabriel Beltran (cst133)
    Date: 5/21/2022
    Purpose:

*/

body
{
    width: 100%;
    height: 100%;
    font-family: 'DM Serif Text', serif;
}

video
{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

div#textquote
{
    position: absolute;
    width: 100%;
    z-index: 1;
}

div#banner
{
    overflow-x: hidden;
}

h1
{
    font-size: 68px;
}

h2
{
    font-size: 32px;
}

p
{
    font-size: 16px;
}

div#content
{
    padding: 20px;
}

div.col-sm h2
{
    font-size: 50px;
}

.padding
{
    padding: 50px;
}



@media only screen and (max-width: 574px)
{
    div.col-sm
    {
        width: 100%;
    }

    h1
    {
        font-size: 24px;
    }

    h2
    {
        font-size: 18px;
    }

    div.col-sm h2
    {
        font-size: 25px;
        text-align: center;
    }

    div.col-sm p
    {
        text-align: center;
    }

    .btnimg1
    {
        height:100%;
        width: 100%;
        margin:0 auto;
    }

    #btns1 img, #btns2 img
    {
        margin:0 auto;
    }

}